# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Build outputs
build/
dist/
*.spec

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# Whisper / cache (optional)
.whisper/
icon.iconset/
